.khungtitle{
    border: outset;
    margin: 5px 10px 3px 20px;
    text-align: center;
    background-color:rgb(222, 103, 12) ;
    width: 97%;
  border-left: ;
}
.anhtruong{
  width: 100%;
}
.anhnganh{
  width: 100%;
}